 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 body {
    background-color:#73CEB6;
    text-align: center;
    top: 50px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
  label {
    color: black;
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
  }

  .content-container, .after-registration-container {
    margin: auto;
    background-color: white;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: #fff;
    padding: 1rem;
margin-top: 5%;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }

  #phone-operator img{
    width: 50px;
    height: auto;
  }

  #phone-operator {
    display: none;
  }
  input {
    color:black;
    text-align: left;
    border: none;
    background-color: #f4f5f6;
    padding: 10px;
    border-radius: 5px;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
    width: 60%;
    border: 1px solid #000;
  }

  
  button{
    padding: 6px 8px;
width: 280px;
font-size: 20px;
background-color:#73CEB6;
color:#000;
border: none;
border-radius: 50px;
  }

  button:hover{
    background-color: transparent;
    border: 1px solid black;
    color:#000;
    border-radius: 50px;
  }

  .after-registration-container {
    display: none;
    text-align: center;
    padding: 50px;
  }

  #otp-error {
    display: none;
  }

  #otpSuccess {
    display: none;
  }
  